
 a{text-decoration: none;}
 
 .container
  {width: 100%}
 
 .menu 
  {width: 100%;
   background-color: blueviolet;
   color: bisque;}
 
 .menu a
 {color: chocolate;}
 
 .menu a:hover
 {color: forestgreen;}
 
 .submenuProduct a
 {color: lavender;}
 
 .submenuProduct a:hover
 {color: gold;}
 
 .menu_ul
 { display: flex;
   list-style: none;
    line-height: 40px;
    width: 80%;
 }
 
 .menu_ul > li
 {margin-right: 30px;}
 
 .menu_ul:first-child
 {margin-left: 20px;}
 
 .searchBox
 {width: 20%;
  padding-top: 4px;}
 
 .seaxrhBox>.searchIpt
 {padding: 4px 5px;
   height: 30px;
   width: 70%;}
 
 .seaxrhBox>.searchBtn
 {width: 26%;
 height: 30px;
cursor: pointer;
border-radius: 10px ;
border-color: aquamarine;
color: black;
}
 
.productli
{position: relative;} 

.submenu
{position: absolute;
width: 50%; 
height: 100px;
background-color: chartreuse;
}
 
.productli:hover .submenu
{display: block;}
 
 
 
 
   .main
  {width: 100%;
   background-color: azure;
   display: flex;
   min-height: 300px;}
 
 .sidebar
   {width: 30%;
     background-color: rgb(205, 255, 243);}
 .maincontainer
   {width: 70%;
     background-color: rgba(205, 255, 222, 0.5);}
 .footer
      {background-color: rgb(255, 240, 247);
     color: indigo;
      min-height: 300px;}
    
 
 
   
   